
body{
  font-family: "M PLUS Rounded 1c";
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  margin-block-start: 0px;
  margin-block-end: 0px;
  color:#000;

}

/* --------------------------------
 * トップ
 * -------------------------------- */
.top_wrapper{
  background-color:#debd96;
  height:600px;
}

.container{
  width:1000px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.site_title{
  font-size:70px;
  padding-top:50px;
  margin-bottom:30px;
}

.site_subtitle{
}

.img_top{
  width:300px;
  height:300px;
  border-radius:150px;
  margin:50px 0 50px 0;
}

/* --------------------------------
 *　アバウト
 * -------------------------------- */

.about_wrapper{
  height:400px;
  background-color: #fff;
  margin-bottom:50px;
}

.about_p{
  padding:20px;
}

.img_about{
  width:480px;
  height:230px;
  border-radius:30px;

}

/* --------------------------------
 * サービス
 * -------------------------------- */
.service_wrapper{
  width:100%;
  height:500px;
  background-color:#debd96;

}
.services{
  margin-left:auto;
  margin-right: auto;
}

.service_q{
  width:300px;
  height:100px;
  float:left;
  background-color:#FEEEDA;
  border-radius: 20px;
  margin-bottom:30px;
  position:relative;
}

.icon{
  height:50px;
  width:50px;
  float:left;
  line-height:100px;
  position:absolute;
  top:25%;
  left:5%;
}

.service_q_txt{
  position:absolute;
  left:30%;
}

h3 .service_q_txt{
  margin-bottom:10px;
}

.right{
  display:inline-block;
  float:left;
  margin:25px 50px;
}

.service_a{
  display:flex;
  align-items: center;
  width:300px;
  height:100px;
  float: left;
  background-color:#FEEEDA;
  margin-bottom:30px;
  border-radius: 20px;
}

.service_a_txt{
  flex:1;

}


/* --------------------------------
 * プライス
 * -------------------------------- */

.price_wrapper{
  width:100%;
  height:400px;
  background-color: #fff;

}

.prices{
  margin-left: auto;
  margin-right: auto;
}

.price{
  float:left;
  width:25%;

}

.icon_2{
  display:inline-block;
  height:70px;
  width:70px;
  margin-top:10px;
  margin-bottom: 10px;
}

.plan{
  margin: auto;
}

.plan tr{
  background-color:#ebd8c0;
  height:40px;

}

th{
  padding:10px 20px;
}

td{
  padding:10px 30px;
}



/* --------------------------------
 * FAQ
 * -------------------------------- */
.faq_wrapper {
  height:300px;
  background-color: #debd96;
  text-align: center;
  padding-bottom: 80px;
}

#faq_list {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.faq_list_item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq_list_item h3 {
  font-size: 14px;
}

.faq_list_item span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:13px;
}

.answer {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
}

/* --------------------------------
 * コンタクト
 * -------------------------------- */
.contact-wrapper{
  width:100%;
  height:600px;
  background-color:#debd96;
}

.name,.mail{
  height:30px;
  width: 500px;
}

textarea{
  width:500px;
}

label{
  margin-right: 20px;
}

.contact_p{

  margin-top:20px;
  margin-bottom:20px;
}

.submit{
  height:40px;
  width: 500px;
  margin-top:10px;
}

/* --------------------------------
 * フッタ
 * -------------------------------- */
footer{
  height:50px;
  background-color:#debd96;
}

footer p{
  line-height:50px;
}

/* --------------------------------
 * 共通部分
 * -------------------------------- */
.heading{
  padding:20px 0 0 0;
  margin-bottom:0px;
  font-size:30px;
}

.heading_p{
  margin-top:20px;
  margin-bottom:50px;
}
